.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgb(44, 9, 85);
    font-size: 30px;
    padding: 20px;
}
.footer-list{
    display: flex;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 5px;
}
.contact-logo{
    object-fit: cover;
    width: 30%;
}
.contact-bt{
    color: #ccc;
    font-size: 22px;
    text-decoration: none;
    margin: 5px;
}
.contact-bt:hover{
    color: #fff;
    text-decoration:underline
}