.nav{
    width: 100vw;
    height: 100px;
    color: #fff;
    background-color: #333;
    display: flex;
    justify-content:space-between;
    align-content: center;
}
.nav-item{
    padding: 20px;
    align-content: center;
}
.nav-item-list{
    display: flex;
    list-style-type: none;
}
.nav-item-list li{
    padding: 10px;
}
.nav-item-list li:hover{
    transition-duration: 800ms;
    text-decoration: underline;
    cursor: pointer;
}