.cover {
    display: flex;
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    background-color: #333;
    border: 5px solid #555;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 60%;
    min-width: 50%;
    box-shadow: 3px 3px 10px #000,
    -3px -3px 10px  #000;
}

.item{
    display: flex;
    justify-items: center;
    min-width: 30vw;
    margin: auto;
}

.img {
    border: 2px solid #555;
    min-width: 200px;
    max-width: 100%;
    flex: content;
    object-fit: cover;
    box-shadow: 2px 2px 15px #000,
    -2px -2px 15px  #000;
}

.bio {
    text-align: justify;
    color: #fff;
    padding: 20px;
    display: block;
}
.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

.alert{
    padding-top: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 20px;
    color: #e00;
    text-shadow: 3px 3px #000;
}


@media screen and (min-width:925px) {
    .cover {
        flex-wrap: nowrap;
        align-items: center;
    }
}