.nav {
    width: 100%;
    height: 100px;
    color: #fff;
    background-color: #333;
    display: flex;
    justify-content: space-between;
}
.navItem {
    padding: 20px;
    align-content: center;
}