.list {
    display: flex;
    list-style-type: none;
}
.listElement{
    padding: 10px;
}
.a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.a:hover {
    text-decoration: underline;
    cursor: pointer;
}


@media screen and (max-width:780px) {
    .list {
        display: none;
    }
}